
services:
  product-db:
    image: postgres:16
    container_name: productdb
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d productdb"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - backend

  order-db:
    image: postgres:16
    container_name: orderdb
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d orderdb"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - backend

  config-server:
    build:
      context: ../config-server
      args:
        JAR_FILE: target/config-server-0.0.1-SNAPSHOT.jar
    container_name: config-server
    environment:
      SPRING_PROFILES_ACTIVE: native
    ports:
      - "8888:8888"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5


  product-service:
    build:
      context: ../product-service
      args:
        JAR_FILE: target/product-service-0.0.1-SNAPSHOT.jar
    container_name: product-service
    depends_on:
      product-db:
        condition: service_healthy
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: dev
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8070/eureka/"

    ports:
      - "8081:8081"
    networks:
      - backend

  order-service:
    build:
      context: ../order-service
      args:
        JAR_FILE: target/order-service-0.0.1-SNAPSHOT.jar
    container_name: order-service
    depends_on:
      order-db:
        condition: service_healthy
      config-server:
        condition: service_healthy
      product-service:
        condition: service_started
      eureka-server:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: dev
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8070/eureka/"
      # SPRING_DATASOURCE_URL: jdbc:postgresql://orderdb:5432/orderdb
      # SPRING_DATASOURCE_USERNAME: postgres
      # SPRING_DATASOURCE_PASSWORD: password
      # SPRING_JPA_HIBERNATE_DDL_AUTO: update
      # SPRING_JPA_SHOW_SQL: "true"

      # Tell Order Service how to call Product Service directly
      # product.service.base-url: http://product-service:8081/api
    ports:
      - "8082:8082"
    networks:
      - backend

  eureka-server:
    build:
      context: ../eurekaserver
      args:
        JAR_FILE: target/eurekaserver-0.0.1-SNAPSHOT.jar
    ports:
      - "8070:8070"
    environment:
      SPRING_PROFILES_ACTIVE: "peer1"
      SERVER_PORT: 8070
      EUREKA_INSTANCE_HOSTNAME: "eureka-server"
      CONFIGSERVER_URI: "http://config-server:8888"
    depends_on:
      config-server:
        condition: service_started  
    networks:
      backend:
        aliases:
          - "eureka-server"
  gateway-server:
    build:
      context: ../gatewayserver
      args:
        JAR_FILE: target/gatewayserver-0.0.1-SNAPSHOT.jar
    ports:
      - "8072:8072"
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      SERVER_PORT: 8072
      SPRING_CLOUD_CONFIG_URI: "http://config-server:8888"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8070/eureka/"
    depends_on:
      order-db:
        condition: service_healthy
      product-db:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      order-service:
        condition: service_started
      product-service:
        condition: service_started
    networks:
      backend:
        aliases:
          - "gateway"
  keycloak:
    image: quay.io/keycloak/keycloak:legacy
    restart: always
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
    volumes:
     - ./realm-export.json:/opt/jboss/realm-export.json
    command:
      - "-b 0.0.0.0"
      - "-Dkeycloak.import=/opt/jboss/realm-export.json"
      - "-Dkeycloak.profile.feature.scripts=enabled"
      - "-Dkeycloak.profile.feature.upload_scripts=enabled"
    ports:
      - "8080:8080"
    networks:
      backend:
        aliases:
          - "keycloak"
networks:
  backend:
    driver: bridge

  