
services:
  product-db:
    image: postgres:16
    container_name: productdb
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d productdb"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - backend

  order-db:
    image: postgres:16
    container_name: orderdb
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d orderdb"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - backend

  config-server:
    build:
      context: ../config-server
      args:
        JAR_FILE: target/config-server-0.0.1-SNAPSHOT.jar
    container_name: config-server
    environment:
      SPRING_PROFILES_ACTIVE: native
    ports:
      - "8888:8888"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5


  product-service:
    build:
      context: ../product-service
      args:
        JAR_FILE: target/product-service-0.0.1-SNAPSHOT.jar
    container_name: product-service
    depends_on:
      product-db:
        condition: service_healthy
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      kafkaserver:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: dev
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8070/eureka/"

    ports:
      - "8081:8081"
    networks:
      - backend

  order-service:
    build:
      context: ../order-service
      args:
        JAR_FILE: target/order-service-0.0.1-SNAPSHOT.jar
    container_name: order-service
    depends_on:
      order-db:
        condition: service_healthy
      config-server:
        condition: service_healthy
      product-service:
        condition: service_started
      eureka-server:
        condition: service_started
      kafkaserver:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: dev
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8070/eureka/"
      # SPRING_DATASOURCE_URL: jdbc:postgresql://orderdb:5432/orderdb
      # SPRING_DATASOURCE_USERNAME: postgres
      # SPRING_DATASOURCE_PASSWORD: password
      # SPRING_JPA_HIBERNATE_DDL_AUTO: update
      # SPRING_JPA_SHOW_SQL: "true"

      # Tell Order Service how to call Product Service directly
      # product.service.base-url: http://product-service:8081/api
    ports:
      - "8082:8082"
    networks:
      - backend

  eureka-server:
    build:
      context: ../eurekaserver
      args:
        JAR_FILE: target/eurekaserver-0.0.1-SNAPSHOT.jar
    ports:
      - "8070:8070"
    environment:
      SPRING_PROFILES_ACTIVE: "peer1"
      SERVER_PORT: 8070
      EUREKA_INSTANCE_HOSTNAME: "eureka-server"
      CONFIGSERVER_URI: "http://config-server:8888"
    depends_on:
      config-server:
        condition: service_started  
    networks:
      backend:
        aliases:
          - "eureka-server"
  gateway-server:
    build:
      context: ../gatewayserver
      args:
        JAR_FILE: target/gatewayserver-0.0.1-SNAPSHOT.jar
    ports:
      - "8072:8072"
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      SERVER_PORT: 8072
      SPRING_CLOUD_CONFIG_URI: "http://config-server:8888"
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: "http://eureka-server:8070/eureka/"
    depends_on:
      order-db:
        condition: service_healthy
      product-db:
        condition: service_healthy
      config-server:
        condition: service_started
      eureka-server:
        condition: service_started
      order-service:
        condition: service_started
      product-service:
        condition: service_started
    networks:
      backend:
        aliases:
          - "gateway"
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    restart: always
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_FEATURES: token-exchange
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm.json
    ports:
      - "8080:8080"
    networks:
      backend:
        aliases:
          - keycloak
  zookeeper:
    image: wurstmeister/zookeeper:latest
    ports:
      - 2181:2181
    networks:
      backend:
        aliases:
          - "zookeeper"
  kafkaserver:
    image: wurstmeister/kafka:latest
    ports:
      - 9092:9092
    environment:
      - KAFKA_ADVERTISED_HOST_NAME=kafka
      - KAFKA_ADVERTISED_PORT=9092
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CREATE_TOPICS=dresses:1:1,ratings:1:1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    depends_on:
      - zookeeper
    networks:
      backend:
        aliases:
          - "kafka"
  redisserver:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      backend:
        aliases:
          - "redis"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9300:9300
      - 9200:9200
    networks:
      backend:
        aliases:
          - "elasticsearch"
  kibana:
    image: docker.elastic.co/kibana/kibana:7.7.0
    container_name: kibana
    environment:
      ELASTICSEARCH_URL: "http://elasticsearch:9200"
    ports:
      - 5601:5601
    networks:
      backend:
        aliases:
          - "kibana"
  logstash:
    image: docker.elastic.co/logstash/logstash:7.7.0
    container_name: logstash
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - ./config:/etc/logstash/conf.d
    ports:
      - "5001:5000"
    networks:
      backend:
        aliases:
          - "logstash"
  zipkin: 
    image: openzipkin/zipkin 
    container_name: zipkin
    depends_on: 
      - elasticsearch
    environment: 
      - STORAGE_TYPE=elasticsearch
      - "ES_HOSTS=elasticsearch:9300"
    ports:
      - "9411:9411"
    networks:
      backend:
        aliases:
          - "zipkin"

volumes:
  esdata1:
    driver: local

networks:
  backend:
    driver: bridge

  